# list all directory
*

# exception
#NOTE: folder
!.keepassXC/
!.keepassXC/**
!autostart/
!autostart/**
!dconf/
!dconf/**
!Electron/
!Electron/**
!eww/
!eww/**
!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!kanata/
!kanata/**
!keepassxc/
!keepassxc/**
!lazygit/
!lazygit/**
!nautilus/
!nautilus/**
!neofetch/
!neofetch/**
!nvim/
!nvim/**
!powershell/
!powershell/**
!systemd/
!systemd/**
!xfce4/
!xfce4/**

#NOTE: files
!.zshrc
!picom.conf
!.gitignore
