# list all directory
*

# exception
# NOTE: folder
!.keepassXC/
!.keepassXC/**
!kanata/
!kanata/**
!keepassxc/
!keepassxc/**
!lazygit/
!lazygit/**
!neofetch/
!neofetch/**
!nvim/
!nvim/**
!powershell/
!powershell/**
!systemd/
!systemd/**

# NOTE: files
!.zshrc
!picom.conf
!.gitignore
