[Desktop Entry]
Version=1.0
Type=Application
Name=Restart
Comment=Reboot the system
Exec=reboot
Icon=~/.dotfiles/share/icons/google-material-mode-off-on.svg
Terminal=false
Categories=System;Utility;
StartupNotify=true
