[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown (10 min)
Comment=Shuts down the system in 10 minutes
Exec=sh -c 'notify-send -u critical -t 10000 "System Shutdown" "System will shutdown in 10 minutes!"; shutdown +10'
Icon=~/.dotfiles/share/icons/google-material-mode-off-on.svg
Terminal=false
Categories=System;Utility;
StartupNotify=true
