:root {
    --pri: #04ff04;
    --sec: #000000;
    --ter: #04ff04;
    --bg-pri: #000000;
    --bg-sec: #04ff04;
    --bg-ter: #505050;
    --disabled: #505050;
    --danger: #f38ba8;
}

* {
    color: var(--pri);
    font: bold 16px "FiraCode Nerd Font";
}

.yasb-bar {
    padding: 0 10px;
    background: transparent;
    border-radius: 8px;
}

/* Global styles for ToolTip */
.tooltip {
    margin-top: 4px;
    padding: 5px 10px;
    color: var(--pri);
    background: var(--bg-pri);
    border: 2px solid var(--ter);
    border-radius: 8px;
    font-size: 14px;
    font-family: "FiraCode Nerd Font";
}

/* Global context menu style */
.context-menu,
.context-menu .menu-checkbox {
    color: var(--pri);
    background-color: var(--bg-pri);
    border: none;
    padding: 4px 0px;
    font-family: "FiraCode Nerd Font";
    font-size: 12px;
}

.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
    padding: 6px 12px;
    margin: 2px 6px;
    background-color: var(--bg-pri);
    border-radius: 6px;
    min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    color: var(--sec);
    background-color: var(--bg-sec);
}

.context-menu::separator {
    height: 1px;
    background-color: #404040;
    margin: 4px 8px;
}

.context-menu::item:disabled {
    color: #666666;
    background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: var(--text1);
    font-family: "Segoe UI";
}

.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--danger);
}

.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: #444444;
    border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--danger);
    border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}

/* Global widget style */
.widget {
    margin: 0 4px;
}

.widget .widget-container {
    padding: 0 8px;
    background: var(--bg-pri);
    border: 2px solid var(--ter);
    border-radius: 12px;
}

.widget .widget-container:hover {
    background: var(--bg-sec);
}

.icon {}

.icon:hover {}

.widget .label {}

.widget .label:hover {
    color: var(--sec);
}

/* home widget */
.home-widget {}

.home-menu {
    background-color: var(--bg-pri);
    border-radius: 8px;
    border: 2px solid var(--ter);
}

.home-menu .menu-item {
    padding: 8px 48px 9px 16px;
    font: bold 12px "FiraCode Nerd Font";
    color: var(--pri);
}

.home-menu .menu-item:hover {
    color: var(--sec);
    background: var(--bg-sec);
}

.home-menu .separator {
    max-height: 1px;
    background: rgba(128, 130, 158, 0.3);
}

/* glazewm workspaces */
.glazewm-workspaces .widget-container {
    border: none;
    background: transparent;
}

.glazewm-workspaces .widget-container:hover {
    border: none;
    background: transparent;
}

.glazewm-workspaces .ws-btn {
    height: 100%;
    margin: 0 4px;
    padding: 0 8px;
    color: var(--pri);
    background: var(--bg-pri);
    border: 2px solid var(--ter);
    border-radius: 12px;
}

.glazewm-workspaces .ws-btn.active_populated {
    color: var(--sec);
    background: var(--bg-sec);
}

.glazewm-workspaces .ws-btn.active_empty {
    color: var(--disabled);
    background: var(--bg-sec);
}

.glazewm-workspaces .ws-btn.populated {
    color: var(--pri);
}

.glazewm-workspaces .ws-btn.empty {
    color: var(--disabled);
}

.glazewm-workspaces .ws-btn.populated:hover {
    color: var(--sec);
    background: var(--bg-sec);
}

.glazewm-workspaces .ws-btn.empty:hover {
    background: var(--bg-sec);
}

.glazewm-tiling-direction {
    padding: 0;
    margin: 0;
}
.glazewm-tiling-direction .btn {
    width: 14px;
    padding: 0 4px 0 4px;
    color: var(--pri);
    border: 2px solid var(--ter);
    border-radius: 12px;
    font-size: 18px;
}
.glazewm-tiling-direction .btn:hover {
    color: var(--sec);
    border: 2px solid var(--ter);
    background-color: var(--bg-sec);
}

/* glazewm binding mode */
.glazewm-binding-mode {
    margin: 4px 0;
    border-radius: 12px;
}

.glazewm-binding-mode .label {
    color: var(--text);
    font-size: 12px;
}

.glazewm-binding-mode .label-offline {
    color: var(--danger);
    font-size: 10px;
}

.glazewm-binding-mode .icon.none {}

.glazewm-binding-mode .icon.resize {}

.glazewm-binding-mode .icon.pause {
    color: var(--danger);
}

/* clock */
.clock-widget .widget-container {}

.clock-widget .widget-container:hover {}

.clock-widget .icon {}

.clock-widget .label:hover {}

.calendar {
    background-color: var(--bg-pri);
    border-radius: 12px;
    border: 2px solid var(--ter);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    margin: 0;
    padding: 0;
    color: var(--pri);
    background: var(--bg-pri);
    border: none;
    outline: none;
}

.calendar .calendar-table::item:selected {
    color: var(--sec);
    background-color: var(--bg-sec);
    border-radius: 8px;
}

.calendar .day-label {
    margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
    min-width: 180px;
    max-width: 180px;
    color: var(--pri);
    font: bold 16px "FiraCode Nerd Font";
}

.calendar .week-label,
.calendar .holiday-label {
    font: 12px;
    color: rgba(162, 177, 196, 0.85);
}

.calendar .holiday-label {
    color: rgba(162, 177, 196, 0.85);
    font-weight: 700;
}

.calendar .month-label {
    font-weight: normal;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}

/* systray */
.systray .widget-container:hover {
    background: var(--bg-pri);
}

.systray .unpinned-container {
    padding: 0 8px;
    background: var(--disabled);
    border-radius: 8px;
}

.systray .pinned-container {
    background: transparent;
}

.systray .pinned-container[forceshow="true"] {
    background: var(--danger);
}

.systray .button {
    padding: 2px 2px;
    border-radius: 4px;
}

.systray .button:hover {
    background: var(--bg-sec);
}

.systray .button[dragging="true"] {
    background: orange;
    border-color: #ff8800;
}

.systray .unpinned-visibility-btn {
    width: 32px;
    height: 20px;
    margin: 0 0 0 4px;
    padding 0 8px;
    border: 2px solid var(--ter);
    border-radius: 8px;
}

.systray .unpinned-visibility-btn:hover,
.systray .unpinned-visibility-btn:checked {
    color: var(--sec);
    background: var(--bg-sec);
}

/* wifi */
.wifi-widget .widget-container {}

.wifi-widget .widget-container .label:hover {}
.wifi-widget .widget-container .label.alt:hover {}

.wifi-widget .widget-container .icon {}

/* mic and volume grouper */
.micvolume-grouper .container {}

.micvolume-grouper .grouper-button {
    width: 24px;
    height: 24px;
    background: var(--bg-pri);
    border: 2px solid var(--ter);
    border-radius: 8px;
}

.micvolume-grouper .grouper-button:hover {
    color: var(--sec);
    background: var(--bg-sec);
}

/* microphone */
.microphone-widget .icon {}

.microphone-widget .label.muted,
.microphone-widget .icon.muted {
    color: var(--danger);
}

/* volume */
.volume-widget .icon {}

.volume-widget .label.muted,
.volume-widget .icon.muted {
    color: var(--danger);
}

/* battery */
.battery-widget {}
.battery-widget .widget-container .icon {}

/* notification */
.notification-widget .icon {}

.notification-widget .icon.new-notification {}
