@define-color pri #04ff04;
@define-color sec #000000;
@define-color ter #04ff04;
@define-color danger #f38ba8;
@define-color bg-pri #000000;
@define-color bg-sec #04ff04;
@define-color bg-ter #04ff04;

* {
    border-radius: 10px;
    font: bold 14px "FiraCode Nerd Font";
}

window#waybar {
    background: transparent;
}

#workspaces {
    margin: 0 0 0 16px;
    transition: 0.3s;
}

#workspaces button {
    margin: 0 4px;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#workspaces button:hover {
    background: @pri;
    color: @sec;
}

#workspaces button.active {
    background: @pri;
    color: @sec;
    transition: 0.3s;
}

#taskbar {
    margin: 0 0 0 16px;
}

#taskbar button {
    margin: 0 4px;
    color: @pri;
    background: @bg-pri;
    border: 2px solid @ter;
}

#taskbar button.active {
    background: @bg-ter;
}

#cava {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#cava:hover {
    color: @sec;
    background: @bg-sec;
}

#battery {
    margin: 0 5px 0 8px;
    padding: 0 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#battery:hover {
    color: @bg-pri;
    background: @pri;
}

#backlight:hover {
    color: @bg-pri;
    background: @pri;
}

#backlight {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#language {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#language:hover {
    color: @bg-pri;
    background: @pri;
}

#pulseaudio {
    margin: 0 0 0 8px;
    padding: 0 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    padding: 8px;
    border: 2px solid @ter;
    transition: 0.3s;
}

#pulseaudio:hover {
    background: @pri;
    color: @bg-pri;
}

#pulseaudio.muted {
    color: @danger;
    background: @bg-pri;
    border-color: @danger;
    transition: 0.3s;
}

#pulseaudio.muted:hover {
    background: @danger;
    color: @bg-pri;

}

#clock {
    padding: 0 10px;
    border-radius: 10px;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @tertiarius;
    transition: none;
    transition: 0.3s;
}

#clock:hover {
    color: @bg-pri;
    background: @pri;
}

#disk {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#disk:hover {
    color: @sec;
    background: @bg-sec;
}

#privacy {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#idle_inhibitor {
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#idle_inhibitor.activated {
    color: #89b4fa;
    border-color: #89b4fa;
}

#idle_inhibitor.activated:hover {
    background: #89b4fa;
    color: @bg-pri;
    border-color: #89b4fa;
}

#idle_inhibitor.deactivated {
    color: @pri
}

#idle_inhibitor.deactivated:hover {
    color: @bg-pri;
    background: @pri;
}

#memory {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#memory:hover {
    color: @bg-pri;
    background: @pri;

}

#cpu {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#cpu:hover {
    color: @bg-pri;
    background: @pri;

}

#power-profiles-daemon {
    font-size: 14px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#power-profiles-daemon:hover {
    color: @bg-pri;
    background: @pri;
}

#custom-swaync {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#custom-swaync:hover {
    color: @bg-pri;
    background: @pri;
}

#custom-launcher {
    margin: 0 0 0 5px;
    padding: 0 10px;
    border-radius: 10px;
    color: @pri;
    background: @bg-pri;
    font-size: 14px;
    border: 2px solid @ter;
    transition: 0.3s;
}

#custom-launcher:hover {
    background: @pri;
    color: @bg-pri;
}

#network {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: @pri;
    background: @bg-pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#network:hover {
    color: @sec;
    background: @bg-sec;
}

#network.disconnected {
    color: @danger;
    border-color: @danger;
}

#network.disconnected:hover {
    background: @danger;
    color: @sec;
}

#bluetooth {
    margin: 0 0 0 16px;
    padding: 0 10px;
    border-radius: 10px;
    color: @pri;
    background: @bg-pri;
    border: 2px solid @ter;
    font-size: 14px;
    transition: 0.3s;
}

#bluetooth:hover {
    color: @pri;
    background: @bg-sec;
}

#bluetooth.disabled {
    color: @danger;
    background: @bg-pri;
    border-color: @danger;
}

#bluetooth.disabled:hover {
    color: @sec;
    background: @danger;
}

#custom-lock {
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#custom-lock:hover {
    background: #f38ba8;
    color: @bg-pri;
    border-color: #f38ba8;

}

#custom-updates   {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#tray {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#tray menu {
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#custom-power {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    background: @bg-pri;
    color: @pri;
    border: 2px solid @ter;
    transition: 0.3s;
}

#custom-power:hover {

    background: #f38ba8;
    color: @bg-pri;
    border-color: #f38ba8;

}
