// https://yalter.github.io/niri

overview {
    backdrop-color "#000000"
	workspace-shadow {
		softness 12
	}
}

workspace "PRIMUS"
workspace "SECUNDUS"
// workspace "TERTIUS"

cursor {
    xcursor-theme "BreezeX-Black"
    xcursor-size 36
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "startup.kdl"
include "animation.kdl"
include "gestures.kdl"
include "layer-rule.kdl"
include "window-rule.kdl"
include "keymap.kdl"
include "misc.kdl"
