binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    mod+shift+slash { show-hotkey-overlay; }

    // App Binding
    mod+return hotkey-overlay-title="Run Terminal: Wezterm" { spawn "wezterm"; }
    alt+ctrl+a { spawn "keepassxc"; }
    alt+space hotkey-overlay-title="Run Appfinder: fuzzel" { spawn-sh r#"fuzzel --config "$HOME/.dotfiles/eggs/fuzzel/fuzzel.ini""#; }
    super+e hotkey-overlay-title="Run File Manager: Thunar" { spawn "thunar"; }
    mod+b hotkey-overlay-title="Run Browser: Zen Browser" { spawn "zen-browser"; }
    mod+alt+l hotkey-overlay-title="Lock the Screen: Swaylock" { spawn "swaylock"; }
    mod+v { spawn-sh "copyq show"; }
    mod+semicolon { spawn-sh r#"rofimoji --selector-args="--config $HOME/.dotfiles/eggs/fuzzel/emoji.ini""#; }

    // Volume Binding
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume raise --max-volume 120"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume lower --max-volume 120"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }

    // Brightness Binding
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "swayosd-client --brightness raise"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "swayosd-client --brightness lower"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    mod+o repeat=false { toggle-overview; }

    mod+q repeat=false { close-window; }

    mod+h     { focus-column-left; }
    mod+u     { focus-window-down; }
    mod+i     { focus-window-up; }
    mod+l     { focus-column-right; }

    mod+ctrl+h     { move-column-left; }
    mod+ctrl+u     { move-window-down; }
    mod+ctrl+i     { move-window-up; }
    mod+ctrl+l     { move-column-right; }

    mod+home { focus-column-first; }
    mod+end  { focus-column-last; }
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }

    Mod+left  { focus-monitor-left; }
    Mod+down  { focus-monitor-down; }
    Mod+up    { focus-monitor-up; }
    Mod+right { focus-monitor-right; }

    mod+ctrl+left  { move-column-to-monitor-left; }
    mod+ctrl+down  { move-column-to-monitor-down; }
    mod+ctrl+up    { move-column-to-monitor-up; }
    mod+ctrl+right { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    mod+j              { focus-workspace-down; }
    mod+k              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    mod+ctrl+j         { move-column-to-workspace-down; }
    mod+ctrl+k         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    mod+wheelscrolldown      cooldown-ms=150 { focus-workspace-down; }
    mod+wheelscrollup        cooldown-ms=150 { focus-workspace-up; }
    mod+ctrl+wheelscrolldown cooldown-ms=150 { move-column-to-workspace-down; }
    mod+ctrl+wheelscrollup   cooldown-ms=150 { move-column-to-workspace-up; }

    // mod+WheelScrollRight      { focus-column-right; }
    // mod+WheelScrollLeft       { focus-column-left; }
    // mod+Ctrl+WheelScrollRight { move-column-right; }
    // mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    mod+shift+wheelscrolldown      { focus-column-right; }
    mod+shift+wheelscrollup        { focus-column-left; }
    mod+ctrl+shift+wheelscrolldown  { move-column-right; }
    mod+ctrl+shift+wheelscrollup    { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    mod+1 { focus-workspace 1; }
    mod+2 { focus-workspace 2; }
    mod+3 { focus-workspace 3; }
    mod+4 { focus-workspace 4; }
    mod+5 { focus-workspace 5; }
    mod+6 { focus-workspace 6; }
    mod+7 { focus-workspace 7; }
    mod+8 { focus-workspace 8; }
    mod+9 { focus-workspace 9; }
    mod+shift+1 { move-column-to-workspace 1; }
    mod+shift+2 { move-column-to-workspace 2; }
    mod+shift+3 { move-column-to-workspace 3; }
    mod+shift+4 { move-column-to-workspace 4; }
    mod+shift+5 { move-column-to-workspace 5; }
    mod+shift+6 { move-column-to-workspace 6; }
    mod+shift+7 { move-column-to-workspace 7; }
    mod+shift+8 { move-column-to-workspace 8; }
    mod+shift+9 { move-column-to-workspace 9; }

    mod+tab { focus-workspace-previous; } // Switches focus between the current and the previous workspace.

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    // alt+comma  { consume-or-expel-window-left; }
    // alt+period { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    mod+comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    mod+period { expel-window-from-column; }

    mod+r { switch-preset-column-width; }
    mod+shift+r { switch-preset-window-height; }
    mod+x { maximize-column; }
    mod+f { fullscreen-window; }
    mod+shift+f { toggle-windowed-fullscreen; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    // Mod+Shift+F { expand-column-to-available-width; }

    // Mod+C { center-column; }

    // Center all fully visible columns on screen.
    // Mod+Ctrl+C { center-visible-columns; }

    // Move the focused window between the floating and the tiling layout.
    mod+t { toggle-window-floating; }
    mod+d { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    mod+w { toggle-column-tabbed-display; }

	// Screenshot
    ctrl+print { screenshot; }
    print { screenshot-screen; }
    alt+print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    mod+escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    mod+shift+e { quit; }
    ctrl+alt+delete { quit; }

    mod+alt+p { power-off-monitors; }
}
