// Put wallpaper inside the overview backdrop.
layer-rule {
    match namespace="wallpaper"
    place-within-backdrop true
}

// Block waybar from screencast
layer-rule {
    match namespace="waybar"

    block-out-from "screencast"
}

// Blur fuzzel background
layer-rule {
    match namespace="^launcher$"

	background-effect {
        blur true
    }
}
