layout {
	background-color "transparent"
    gaps 8

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

	focus-ring {
		off
        width 2
        active-color "#048004" // {< replace_color(palette.hex.darkGreen) >}
        inactive-color "#505050" // {< replace_color(palette.hex.gray) >}

        // Color of the border around windows that request your attention.
        urgent-color "#f38ba8" // {< replace_color(palette.hex.danger) >}
	}

	border {
		on
        width 2
        active-color "#048004" // {< replace_color(palette.hex.darkGreen) >}
        inactive-color "#505050" // {< replace_color(palette.hex.gray) >}

        // Color of the border around windows that request your attention.
        urgent-color "#f38ba8" // {< replace_color(palette.hex.danger) >}
	}

	shadow {
		off

		softness 30
	}

	insert-hint {
		color "#04ff0470" // {< replace_color(palette.hexOpacity.neonGreen70) >}
	}
}
