/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(04 255 04 / 100%);
  margin-right: 7px;
}

body {
  color: rgb(04 255 04 / 100%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
  background: rgb(04 255 04 / 0%);
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px 0.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.os-banner {
  background: #000000;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #04ff04;
  height: 100%;
  padding: 4px 8px;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: #000000;
  margin: 0 2px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #04ff04;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: #04ff04;
    color: #000000;
    border-color: #ffffff;
    margin: 8px 2px 0;
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: #000000;
  color: #04ff04;
  line-height: 1;
  padding: 4px 8px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #04ff04;
  cursor: pointer;
  margin: 0 10px;
}

.memory, .cpu {
  background: #000000;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #04ff04;
  padding: 4px 8px;
  margin: 0px 2px
}

.cpu .high-usage {
  color: #900029;
}
