.xfce4-panel {
}

#whiskermenu-button {
background-color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
margin: 4px 2px;
}

#whiskermenu-button:hover {
background-color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 3px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

#whiskermenu-button:checked {
background-color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

.xfce4-panel .tasklist .toggle {
background-color: #000000;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin: 4px 2px;
}

.xfce4-panel .tasklist .toggle:checked {
color: #000000;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
margin: 8px 2px 0;
}

.xfce4-panel .tasklist .toggle:hover {
background-color: #04ff04;
color: #000000;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin: 8px 2px 0;
}

#pager-19 #xfce-panel-toggle-button {
background-color: #ffffff;
color: #8CC8BC;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 4px;
padding: 5px;
}

#pager-19 #xfce-panel-toggle-button:checked {
background-color: #ffffff;
color: #ED1651;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #8CC8BC;
margin: 4px;
padding: 5px;
}

#pager-19 #xfce-panel-toggle-button:hover {
background-color: #ffffff;
color: #ED1651;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #8CC8BC;
margin: 4px;
padding: 5px;
}

#xfce4-notification-plugin {
background-color: #ffffff;
color: #ED1651;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #8CC8BC;
margin: 4px;
}

#xfce4-notification-plugin:hover {
background-color: #ffffff;
color: #ED1651;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #8CC8BC;
margin: 4px;
padding-left: 15px;
padding-right: 15px;
}

#xfce4-notification-plugin:checked {
background-color: #ffffff;
color: #ED1651;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #8CC8BC;
margin: 4px;
padding-left: 15px;
padding-right: 15px;
}

#pulseaudio-button {
background-color: #000000;
color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
margin: 4px 2px;
}

#pulseaudio-button:hover {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

#pulseaudio-button:checked {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

#xfce4-power-manager-plugin {
background-color: #000000;
color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
margin: 4px 2px;
}

#xfce4-power-manager-plugin:hover {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

#xfce4-power-manager-plugin:checked {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
}

#clock-button {
background-color: #000000;
color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
margin: 4px 2px;
padding: 0 4px 0;
}

#clock-button:hover {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
padding: 0 4px 0;
}

#clock-button:checked {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
margin: 8px 2px 0;
padding: 0 4px 0;
}

#actions-button {
background-color: #000000;
color: #04ff04;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #04ff04;
}

#actions-button:hover {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
}

#actions-button:checked {
background-color: #04ff04;
color: #000000;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-style: solid;
border-width: 2px;
border-color: #ffffff;
}
