.xfce4-panel {
}

#whiskermenu-button {
	margin: 4px 2px;
	background-color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#whiskermenu-button:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#whiskermenu-button:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

.xfce4-panel .tasklist .toggle {
	margin: 4px 2px;
	background-color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.xfce4-panel .tasklist .toggle:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

.xfce4-panel .tasklist .toggle:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#pager-10 #xfce-panel-toggle-button {
	margin: 4px 2px;
	padding: 0 4px;
	background-color: #000000;
	color: #04ff04;
	font-family: "Fira Code";
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#pager-10 #xfce-panel-toggle-button:checked {
	margin: 8px 2px 0;
	padding: 0 4px;
	background-color: #04ff04;
	color: #000000;
	font-family: "Fira Code";
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#pager-10 #xfce-panel-toggle-button:hover {
	margin: 8px 2px 0;
	padding: 0 4px;
	background-color: #04ff04;
	color: #000000;
	font-family: "Fira Code";
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#systray-23 .horizontal .toggle {
	margin: 4px 0;
	background-color: #000000;
	color: #04ff04;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#systray-23 .horizontal .toggle:hover {
	margin: 8px 0 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#systray-23 .horizontal .toggle:checked {
	margin: 8px 0 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#statusnotifier-16 #sn-button {
	margin: 4px 2px;
	background-color: #000000;
	color: #04ff04;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#statusnotifier-16 #sn-button:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#statusnotifier-16 #sn-button:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: all 0.2s ease-in-out;
}

#launcher-arrow {
	margin: 4px 2px;
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#launcher-arrow:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#launcher-arrow:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#pulseaudio-button {
	margin: 4px 2px;
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#pulseaudio-button:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#pulseaudio-button:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#xfce4-power-manager-plugin {
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	margin: 4px 2px;
	transition: all 0.2s ease-in-out;
}

#xfce4-power-manager-plugin:hover {
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	margin: 8px 2px 0;
	transition: all 0.2s ease-in-out;
}

#xfce4-power-manager-plugin:checked {
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	margin: 8px 2px 0;
	transition: all 0.2s ease-in-out;
}

#clock-button {
	margin: 4px 2px;
	padding: 0 4px;
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#clock-button:hover {
	margin: 8px 2px 0;
	padding: 0 4px;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#clock-button:checked {
	margin: 8px 2px 0;
	padding: 0 4px;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#xfce4-notification-plugin {
	margin: 4px 2px;
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#xfce4-notification-plugin:hover {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #ffffff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#xfce4-notification-plugin:checked {
	margin: 8px 2px 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#xfce-panel-button {
	margin: 4px 0;
	background-color: #000000;
	color: #04ff04;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}

#xfce-panel-button:hover {
	margin: 8px 0 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#xfce-panel-button:checked {
	margin: 8px 0 0;
	background-color: #04ff04;
	color: #000000;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #04ff04;
	transition: all 0.2s ease-in-out;
}
